# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
resenv/

# Database files
db.sqlite3
*.db
*.sqlite3

# Environment files
.env
*.env

# Log files
*.log

# Django static and media files
media/
staticfiles/

# IDE-specific files
.idea/
.vscode/

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db